.about-me {
  display: flex;
  flex-wrap: wrap;

  .content-container {
    width: calc(50% - 40px);
    margin-right: 40px;
    text-align: right;
    
    p {
      margin-left: 40px;
      text-align: left;
    }
  }
  .images-container {
    width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .left-image-container {
      width: 45%;
      img {
        width: 100%;
        box-shadow: 150px 30px $accent-color;
      }
    }
    .right-image-container {
      width: 45%;
      position: relative;

      img {
        width: 100%;
        position: absolute;
        bottom: -45px;
      }
    }
  }
}