.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  .content-container {
    width: calc(50% - 60px);
    margin-right: 60px;
    // text-align: right;
    
    p {
      margin-left: 60px;
      text-align: left;
    }
  }
  .images-container {
    width: 50%;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .left-image-container {
      width: 45%;
      img {
        width: 100%;
        box-shadow: 120px 50px $accent-color, 120px 70px $accent-color;
      }
    }
    .right-image-container {
      width: 45%;
      position: relative;

      img {
        width: 100%;
        position: absolute;
        bottom: -30px;
        // box-shadow: -30px 10px $bright-color;
      }
    }
  }
}