.about-me {

  display: flex;
  flex-wrap: wrap;

  // border: 1px solid tomato;
  .content-container {
    width: calc(50% - 40px);
    margin-right: 40px;
    text-align: right;
  }
  .images-container {
    width: 50%;

    display: flex;
    justify-content: space-between;

    .left-image-container {
      width: 40%;
      img {
        width: 100%;
      }
    }
    .right-image-container {
      width: 40%;
      img {
        width: 100%;
      }
    }
  }
}