.contact {

  .contact-form {
    display: flex;
    padding: 0 3rem;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;

    input,
    textarea {
      font-size: 1.2rem;
      padding: 10px 20px;
      margin-bottom: 20px;
      border: 1px solid $primary-color;
    }

    .submit {
      padding: 1rem;
      background: $accent-color;
      border: none;
      text-transform: uppercase;

      &:hover {
        background-color: $bright-color;
        color: $light-color;
        transition: ease-in 0.2s;
      }
    }
  }
}
