.main-header {
  display: flex;
  flex-direction: column;
  padding: 0 60px 140px 60px;

  .main-nav {
    margin: 15px 0;

    display: flex;
    justify-content: flex-end;

    ul {
      width: 50%;

      display: flex;
      justify-content: space-around;
    }
  }
  .short-about-me {
  height: 50vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

    .my-pic-container {
      display: flex;
      align-items: flex-end;
      margin-top: 2.5rem;
      position: relative;

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        background-image: url('../assets/texture.png');
        bottom: 20px;
        width: 500px;
        right: 0;
        height: 330px;
        z-index: 1;
      }

      .my-pic {
        width: 80%;
        box-shadow: 30px 30px $accent-color;
        z-index: 2;
      }
    }
    .heading-container { 
      display: flex;
      flex-direction: column;
      margin-left: 4rem;
      margin-top: 2rem;
      h1 {
        position: relative;
        line-height: 3.3rem;
      
        &::after {
          content: "";
          position: absolute;
          background-color: $bright-color;
          top: -10px;
          width: 90px;
          left: 0;
          height: 2px;
        }
          .io {
            font-weight: bold;
            color: $bright-color;
            display: block;
            font-family: $base-font;
            font-size: 4rem;
            text-transform: uppercase;
            margin: 0;
            margin-top: 5px;
          }
      }
      h3 {
        margin-top: 1.5rem;
        font-family: $secondary-font;
        text-transform: lowercase;
        font-weight: normal;
      }
    }
  }
}

.main-nav li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 5px 10px;

  a {
    padding: 5px 0;
    border-top: solid $dark-color 1px;
    &:hover {
      border-top: solid $bright-color 1px;
    }
  }
}

/* HAMBURGER MENU DEFAULTS */
  .mobile-nav {
    display: none;
  }

.hamburger-container {
  display: none;
  width: 100%;
  
}

.open-hamburger {
  display: none;
  margin: 20px;
}

.preventAllScrollingOnBody {
    overflow: hidden;
}

 /* HAMBURGER MENU */
  .open-hamburger {
      display: block;
      float: right;
      margin-top: 0;
  }

  .open-hamburger .fas {
    color: $bright-color;
    font-size: 3rem;
  }

  // .open-hamburger .fas,
    .close-hamburger .fas {
      color: $light-color;
      font-size: 3rem;
  }

  /* OPEN HAMBURGER */
  .sectionHome .narrowWrapper {
      position: relative;
  }

  .mobile-nav-controls {
      text-align: right;
      width: 80%;
      margin: 0 auto;
      padding-top: 20px;
  }

  .mobile-nav-controls a {
      display: block;
  }

  // mobile nav links
  .mobile-nav {
      background: $bright-color;
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
  }

  .mobile-nav-list {
      margin-top: 20px;
      padding: 0;
      list-style-type: none;
  }

  .mobile-nav-list li {
      margin-bottom: 30px;
      text-align: center;
  }

  .mobile-nav-list li a {
      text-decoration: none;
      color: $light-color;
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
  }

  .mobile-nav-list li:active {
      background: rgba(0, 0, 0, 0.192);
  }

  // mobile nav social links
  .mobile-nav-social-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto;
      margin-top: 90px;
      padding-left: 0;
      width: 70%;

      li {
        .social-link {
            color: $light-color;
            font-size: 3rem;

            &:active {
                color: $dark-color;
            }
        }
      }
  }
  /* END OF HAMBURGER MENU */


