@media (max-width: 1100px) {

  .main-header .main-nav {
    justify-content: center;

    ul {
      width: 65%;
    }
  }

  .my-pic-container {
    width: 40%;
    &::after {
      bottom: 10px;
      width: 200px;
      right: 0;
      height: 220px;
    }
  }
}

@media (max-width: 991px) {

  .main-header {
    .main-nav {

      ul {
        width: 80%;
      }
    }
 
    .short-about-me {
      margin-top: 30px;

      .my-pic-container {
        justify-content: center;

        &::after {
          display: none;
        }

        .my-pic {
          box-shadow: none;
          width: 100%;
        }
      }

      .heading-container {
        h3 {
          font-size: 1.2rem;
        }
      }
    }
  }  

  .about-me {
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;

    .content-container {
      width: 90%;
      margin-bottom: 40px;
    }

    .images-container {
      width: 75%;
    }
  }

  .my-portfolio {
    padding-bottom: 20px;
  }

  .my-portfolio .portfolio-piece:nth-child(2n),
  .my-portfolio .portfolio-piece {

    flex-direction: column-reverse;
    align-items: center;

    .portfolio-piece-image {
      width: 60%;
      text-align: center;
      margin-bottom: 20px;

      img {
        box-shadow: none;
      }
    }

    .portfolio-piece-content {
      width: 60%;
      text-align: center;
      align-items: center;
      margin: 0 auto;
    }

  }

  .my-skills ul {
    .skills-item img {
      width: 45%;
    }
  }
}

@media (max-width: 768px) {
  .social-nav {
    display: none;
  }

  .main-header .main-nav ul {
    display: none;
  }

  .main-header {
    background-image: url('../assets/anna.jpg');
    background-size: cover;

    height: 700px;
    padding-bottom: 30px;

    // width: 100%;
    padding: 20px;

 
    .short-about-me {
      justify-content: flex-end;
      align-items: flex-end;
      flex-grow: 1;

      .my-pic-container {
        display: none;
        width: 70%;
        margin-top: 0;
        text-align: center;
       
        .my-pic {
          width: 70%;
          margin: 0 auto;
          box-shadow: none;
        }
      }

      .heading-container {
        margin-left: 30px;

        h1,
        h3 {
          color: white;
        }
      }
    }
  }


  .my-portfolio .portfolio-piece:nth-child(2n),
  .my-portfolio .portfolio-piece {
    width: 100%;

    .portfolio-piece-content,
    .portfolio-piece-image {
      width: 90%;
    }

    .portfolio-piece-content {
      h3,
      h4 {
        text-align: center;
      }
    }
  }

  .my-skills ul {
    width: 100%;
    padding-left: 0;

    // .skills-item img {
    //   width: 45%;
    // }
  }

  .contact .contact-form {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .my-skills ul .skills-item {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 430px) {
  /* hamburger menu */
  .mobile-nav-list li a {
    font-size: 1.6rem;
  }

  .mobile-nav-social-list {
      li {
        .social-link {
          font-size: 1.6rem;
        }
      }
  }
}